.pregunta1{
    background-color: aquamarine;
}
.content-div{
    border: 1px solid black;
}
.pregunta2{
    background-color: blueviolet;
}
.pregunta3{
    background-color: grey;
}
.pregunta4{
    color: brown;
}
.pregunta5{
    color: red;
}
.pregunta6{
    background-color: black;
}




